@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300&display=swap');

a {
  -webkit-text-underline-position: under;
  -ms-text-underline-position: below;
  text-underline-position: under;
}

div {
  font-weight: normal;
  display: block;
  line-height: 1.75;
  margin: auto;
  max-width: 600px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.description {
  font-family: 'JetBrains Mono', monospace;
  font-size: 100%;
}

.footer {
  font-family: 'JetBrains Mono', monospace;
  font-size: 100%;
  width: 100%;
  color: Grey;
}
